
@{
    ViewData["Title"] = "EnterValidationKey";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Enter Validation Key!</h1>
<form method="post"
    action="/User/HandleValidationKey"
    enctype="multipart/form-data">
    <input type="hidden" name="userID" value="@ViewBag.userID"/>
    <input name="key" id="validationKeyInput" />
    <button type="submit">Submit</button>
</form>

