
@{
    ViewData["Title"] = "GetRequests";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>View Requests</h1>
<div>
    <ul class="actions">
        <li class="actionLinkWrapper">
            <a class="actionLink" href="/User/RequestsSent">Requests Sent</a>
        </li>
        <li class="actionLinkWrapper">
            <a class="actionLink" href="/User/RequestsRecieved">Requests Recieved</a>
        </li>
    </ul>
</div>

