
@{
    ViewData["Title"] = "GetSchedule";
    Layout = "~/Views/Shared/GetSchedule.cshtml";
}

<h3>You have to enter your validation key in order to be able to get added to groups and have lessons scheduled.<br />
    Go to Additional Actions->Send Validation Key to recieve an email with your validation key.<br/>
    Then go to Additional Actions->Enter Validation Key to enter your validation key.<br/>
    Go to View Profile in order to update your email address.
</h3>

