@using MusicCenterModels
@model List<Instrument>
@{
    ViewData["Title"] = "AddInstrument";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Add Instrument</h1>
<form method="post"
    action="/Teacher/AddNewInstrument">
    <select name="instrumentID">
        <option value="0">Choose Instrument</option>
        @foreach (var instrument in Model)
        {
            <option value="@instrument.Id">@instrument.Name</option>
        }
    </select>
    <button type="submit">Add</button>
</form>


