
@{
    ViewData["Title"] = "AdditionalActions";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Additional Actions</h1>
<ul>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Teacher/AddInstrument">Add Instrument</a>
    </li>
</ul>

