
@{
    ViewData["Title"] = "Index";
}
<div class="wrap">
    <h1>Main Page</h1>
    <h3>Welcome To The Music center website!</h3>
    <h5>
        In this website, students and teachers can track scheduled events, groups,
        send and recieve requests abd more!
    </h5>
    <div>
        <a class="routeLink" href="/Guest/LoginForm">Login</a>
        <a class="routeLink" href="/Guest/RegistrationForm">Register</a>
    </div>
</div>
<style>
    .wrap{
        padding: 10px;
    }
    .wrap * {
        margin-bottom: 25px;
    }
    .routeLink{
        text-decoration: none;
        border: solid black 2px;
        border-radius: 10px;
        padding: 5px;
        font-size: 30px;
        margin-right: 20px;
    }
</style>