
@{
    ViewData["Title"] = "AdditionalActions";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Additional Actions</h1>
<ul>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/CreateGroup">Create Group</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/UpdateInstructorToGroup">Update Instructor To Group</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/AddRegistreeToGroup">Add Registree To Group</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/ChooseMemberTypeToDisplay">Display members</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/PromoteToTeacher">Promote To Teacher</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/PromoteToInstructor">Promote To Instructor</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/DemoteFromTeacher">Demote From Teacher</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/DemoteFromInstructor">Demote From Instructor</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/ScheduleLesson">Schedule Lesson</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/ScheduleMeeting">Schedule Meeting</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/RemoveParticipantFromGroup">Remove Participant From Group</a>
    </li>
    <li class="actionLinkWrapper">
        <a class='actionLink' href="/Admin/SendMessageForm">Send Message</a>
    </li>
</ul>

