@using MusicCenterModels
@model List<Teacher>
@{
    ViewData["Title"] = "DemoteFromTeacher";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Demote From Teacher</h1>
<form method="post"
      action="/Admin/DemoteTeacher">
    <select name="userID">
        @foreach (var teacher in Model)
        {
            <option value="@teacher.Id">@teacher.Name</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>

