@using MusicCenterModels
@model List<Teacher>
@{
    ViewData["Title"] = "PromoteToInstructor";
    bool? success = TempData["isTeacherInstructor"] as bool?;
    ViewBag.isTeacherInstructor = success;
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>Promote To Instructor</h1>
<form method="post"
      action="/Admin/MakeInstructor">
    <select name="userID">
        @foreach (var user in Model)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>
@if (ViewBag.isTeacherInstructor != null)
{
    <h4>@(ViewBag.isTeacherInstructor ? "Teacher promoted!" : "Promotion failed..")</h4>
}

